*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #F2F7FD;
	font-family: "open-sans", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	transform: scale(0);
	transition: .5s;
}

.container{
	background-color: #fff;
	border-radius: 10px;
box-shadow:7px 7px 30px 0px rgba(50, 50, 50, 0.2);
	width: 400px;
	max-height: 100%;
	overflow: hidden;
	z-index: 10;
}


.heading{
	background-color: #121212;
	color: #fff;
	padding: 25px 40px;
}

.heading h2{
	margin: 0;
}

form{
	padding: 30px 40px;
}

label{
	display: inline-block;
	padding: 6px 0;
	font-weight: bold;
	color: #121212;
	font-size: 1.2rem;
	letter-spacing: 1px;
	
}

 input{
    border: 2px solid #f0f0f0;
	display: block;
	width: 100%;
	outline: none;
	height: 2rem;
	border-radius: 10px;
	padding-left: 10px;
	
}


.btn{
	padding: .7rem 1rem;
	border: none;
	outline: none;
	background-color: #121212;
	color: #fff;
	margin-top: 1.3rem;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: .5s;
	font-family: "open-sans", sans-serif;
}

.btn:active:hover{
	background-color: 	#2F4F4F;
}

.psw{
	display: flex;
	align-items: center;
	position: relative;
}
.fa-eye-slash{
	position: absolute;
	right: 1rem;
	cursor: pointer;
}

#hide-password{
	position: absolute;
	right: 1rem;
	cursor: pointer;
	visibility: hidden;
}
#name-error,
#email-error,
#password-error,
#passcheck-error{
	color: red;
	font-family: sans-serif;
	font-size: .8rem;
	padding-top: 3px;
}

.matter{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 1rem;
	font-family: sans-serif;
}

.create-btn{
	background-color: #121212;
	color: white;
	border: none;
	padding: .7rem 1rem;
	margin-top: 1.2rem;
}
.create-btn:active:hover{
	background-color: 	#2F4F4F;
}

.line{
height: 1px;
	width: 90%;
	background-color: black;
	margin: 1rem auto;
	opacity: 70%;
	outline: none;
	cursor: pointer;
}

.container-1{
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:7px 7px 30px 0px rgba(50, 50, 50, 0.2);
	position: absolute;
	z-index: 2000;
	top: 0;
	background: rgba(0,0,0,0.9);
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(0);
	transition: .5s;
}
.msg{
background-color: aliceblue;
padding: 10rem;
	font-size: 1.1rem;
	    font-family: sans-serif;
	transition: .5s;
}

.msg h1{
	margin-bottom: 1.5rem;
}

a{
	text-decoration: none;
	color: #121212;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: #121212;
	color: aliceblue;
	width: 50%;
	margin: 0 auto;
}

a:active:hover{
	background-color: 	#2F4F4F;
}
